#contenedorPreguntas{
    background-color: white;
    height: 425px;
    border-radius: 20px;
    width: 610px;
    box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
    border-radius: 20px;
    align-self: center;
}