#containerPost{
    display: flex;
    flex-direction: column;
}
#congrats{
    font-size: 70px;
    color: #004853;
}
#resultado{
    color: #fb6900;
    background: #ffffffa3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Signika';
}
.button::after, .button::before {
  position: absolute;
  content: "";
  transition: all 0.5s;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
    transform: translate(75%, 2000%);
    vertical-align: middle;
    font-family: "Rubik One", sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
    transition: all 0.5s;
    background-color: #3498db;
    cursor: pointer;
}
.button::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  transform: skewX(45deg);
  background-color: #196090;
}
.button::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  transform: skewY(45deg);
  background-color: #124364;
}
.button:active {
  margin-left: 10px;
  margin-top: 10px;
}
.button:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.button:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}